### ASSIGNMENT 12
### Topic -  Naive Bayes
### By Tushar N. Mondkar (Batch of 27 March,Andheri)
### Mentor - Jayantilal Sir

__Q. Prepare a classification model using Naive Bayes for salary data__

In [1]:
# import necessary packages
import pandas as pd 
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [3]:
# import train dataset
salary_train = pd.read_csv('SalaryData_Train.csv')
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# import test dataset
salary_test = pd.read_csv('SalaryData_Test.csv')
salary_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [5]:
salary_train.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [6]:
salary_test.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [7]:
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [8]:
# label encodeing
label_encoder=preprocessing.LabelEncoder()
for i in string_columns:
    salary_train[i]=label_encoder.fit_transform(salary_train[i])
    salary_test[i]=label_encoder.fit_transform(salary_test[i])

In [9]:
# splitting the data into x_train,y_train
col_names=list(salary_train.columns)
train_X=salary_train[col_names[0:13]]
train_Y=salary_train[col_names[13]]
test_x=salary_test[col_names[0:13]]
test_y=salary_test[col_names[13]]

In [10]:
# gaussian NB
Gmodel=GaussianNB()
train_pred_gau=Gmodel.fit(train_X,train_Y).predict(train_X)

In [11]:
# fitting on train data and predicting on test data
test_pred_gau=Gmodel.fit(train_X,train_Y).predict(test_x)

In [12]:
# accuracy score on train data using gaussian NB
train_acc_gau=np.mean(train_pred_gau==train_Y)
train_acc_gau

0.7953317197705646

In [13]:
# accuracy score  on test data using gaussian NB
test_acc_gau=np.mean(test_pred_gau==test_y)
test_acc_gau

0.7946879150066402

In [14]:
# confusion matrix for gaussian model 
from  sklearn.metrics import confusion_matrix,classification_report
cfm = confusion_matrix(test_y,test_pred_gau)
print(cfm)

[[10759   601]
 [ 2491  1209]]

In [15]:
# classification_report matrix for 
clf = classification_report(test_y,test_pred_gau)
print(clf)

              precision    recall  f1-score   support

       <=50K       0.81      0.95      0.87     11360
        >50K       0.67      0.33      0.44      3700

    accuracy                           0.79     15060
   macro avg       0.74      0.64      0.66     15060
weighted avg       0.78      0.79      0.77     15060

In [16]:
# creating modle using multinomial naive bayes
Mmodel=MultinomialNB()
train_pred_multi=Mmodel.fit(train_X,train_Y).predict(train_X)

In [17]:
# fitting on train data and predict on test_data
test_pred_multi=Mmodel.fit(train_X,train_Y).predict(test_x)

In [18]:
# accuaracy of train data using multinomial NB
train_acc_multi=np.mean(train_pred_multi==train_Y)
train_acc_multi

0.7729186698053778

In [19]:
# accuracy of test data using multinomial NB
test_acc_multi=np.mean(test_pred_multi==test_y)
test_acc_multi

0.7749667994687915

In [20]:
# confusion matrix for multinomial model 
CFM = confusion_matrix(test_y,test_pred_multi)
CFM

array([[10891,   469],
       [ 2920,   780]], dtype=int64)

In [21]:
# classification report for multinomial NB
CLF = classification_report(test_y,test_pred_multi)
print(CLF)

              precision    recall  f1-score   support

       <=50K       0.79      0.96      0.87     11360
        >50K       0.62      0.21      0.32      3700

    accuracy                           0.77     15060
   macro avg       0.71      0.58      0.59     15060
weighted avg       0.75      0.77      0.73     15060